.Contact {
  /* Variables */
  --bg-contact: var(--bg-light);
  --bg-form: var(--bg-light);
  --title-color: var(--font-dark);
  --input-title-color: var(--bg-dark);
  --border-color: var(--font-dark);
  --font-contact: var(--font-dark);
  --btn-color: var(--blue);
  --btn-font: var(--font-dark);

  height: 100vh;
  padding-top: 12vh;
  box-sizing: border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-contact);
  overflow: hidden;
}

.Contact.darkmode {
  /* Darkmode Variables */
  --bg-contact: var(--bg-dark);
  --bg-form: var(--bg-light );
  --title-color: var(--font-light);
  --input-title-color: var(--bg-dark);
  --border-color: var(--font-dark);
  --font-contact: var(--font-dark);
  --btn-color: var(--blue);
  --btn-font: var(--font-light);
}

.Contact .contact-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: calc(38px + 2vw);
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  color: var(--title-color);
}

.Contact .contact-img {
  width: calc(220px + 2vw);
  cursor: pointer;
  user-select: none;
}

.Contact .contact-form {
  width: 40vw;
  min-width: 300px;
  height: 500px;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border: solid var(--page-border) var(--font-dark);
  border-bottom: none;
  border-radius: 30px 30px 0px 0px;
  background: var(--bg-form);
}

.Contact .form-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Contact .form-input {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 700px) {
  .Contact .form-input {
    width: 100%;
  }

  .Contact {
    justify-content: flex-end;
    gap: 30px;
  }

  .Contact .contact-img {
    display: none;
  }

  .Contact .contact-form {
    height: 65vh;
  }
}

@media (max-width: 1400px) {
  .Contact .form-input {
    width: 100%;
  }
}

.input-title {
  margin-left: 10px;
  margin-top: 10px;
  color: var(--input-title-color);
  user-select: none;
}

.Contact .input-content {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: solid 2px var(--border-color);
  box-shadow: 2px 2px 0 0 var(--border-color);
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--font-contact);
}

.Contact .form-textarea {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: solid 2px var(--border-color);
  box-shadow: 2px 2px 0 0 var(--border-color);
  border-radius: 12px;
  user-select: none;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--font-contact);
}

.swing:hover {
  animation-name: swing;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}