.Contact {
  height: 95vh;
  padding-top: 3vh;
  box-sizing: border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-light);
  overflow: hidden;
}

.Contact .contact-title {
  margin: 0;
  padding: 0;
  font-size: calc(38px + 2vw);
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  color: var(--font-dark);
}

.Contact .contact-img {
  width: calc(220px + 3vw);
  cursor: pointer;
  z-index: 5;
  user-select: none;
}

.Contact .contact-form {
  width: 40vw;
  min-width: 300px;
  height: 500px;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  border: solid var(--page-border) var(--font-dark);
  border-bottom: none;
  border-radius: 30px 30px 0px 0px;
  background: var(--bg-light);
}

.Contact .form-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Contact .form-input {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 700px) {
  .Contact .form-input {
    width: 100%;
  }

  .Contact {
    justify-content: flex-end;
    gap: 30px;
  }

  .Contact .contact-img {
    display: none;
  }

  .Contact .contact-form {
    height: 65vh;
  }
}

@media (max-width: 1400px) {
  .Contact .form-input {
    width: 100%;
  }
}

.input-title {
  margin-left: 10px;
  margin-top: 10px;
  color: var(--font-dark);
  user-select: none;
}

.Contact .input-content {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: solid 3px var(--font-dark);
  box-shadow: 2px 2px 0 0 var(--font-dark);
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--font-dark);
}

.Contact .form-textarea {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: solid 3px var(--font-dark);
  box-shadow: 2px 2px 0 0 var(--font-dark);
  border-radius: 12px;
  user-select: none;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--font-dark);
}