.AnimatedTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: var(--col-gap);
}

.row-letter {
  max-width: 100%;
  margin: 0;
  position: relative;
  display: inline-block;
  font-weight: var(--weight);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  color: var(--font-color);
}

.AnimatedTitle .word {
  margin: 0;
  padding: 0;
}

.AnimatedTitle.welcome-title {
  --col-gap: 50px;
  --weight: var(--title-weight);
  --font-family: 'Manbow Clear';
  --line-height: 0.95;
  --font-size: 8vw;
  --font-color: var(--font-dark);
  text-shadow: 5px 0px 0 var(--font-light);
}

.AnimatedTitle.WelcomeTitle {
  --col-gap: 50px;
  --weight: var(--title-weight);
  --font-family: var(--title-font);
  --line-height: 0.95;
  --font-size: calc(60px + 4vw);
  --font-color: var(--font-dark);
  text-shadow: 5px 0px 0 var(--font-light);
}

.AnimatedTitle.ContactTitle {
  --col-gap: 35px;
  --weight: var(--title-weight);
  --font-family: var(--title-font);
  --line-height: 1;
  --font-size: calc(38px + 3vw);
  --font-color: var(--font-dark);
  font-variation-settings: var(--font-variant-bold);
}

.AnimatedTitle.SkillsTitle {
  --col-gap: 16px;
  --weight: var(--title-weight);
  --font-family: var(--title-font);
  --line-height: 1;
  --font-size: calc(30px + 1.5vw);
  --font-color: var(--font-dark);
  margin-bottom: 40px;
  justify-content: flex-start;
}

.AnimatedTitle.WelcomeTitle.darkmode {
  --font-color: var(--font-light);
}
