.About {
  /* Variables */
  --bg-about: var(--blue);
  --bg-double: linear-gradient(180deg, var(--bg-light) 50%, var(--bg-light) 50%);
  --border-top: var(--font-dark);
  --border-bottom: var(--font-dark);
  --font-title: var(--font-light);
  --font-content: var(--font-light);

  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background: var(--bg-double)
}

.About.darkmode {
  --bg-about: var(--blue);
  --bg-double: linear-gradient(180deg, var(--bg-dark) 50%, var(--bg-dark) 50%);
  --border-top: var(--font-light);
  --border-bottom: var(--font-light);
  --font-title: var(--font-dark);
  --font-content: var(--font-light);
}

.About .about-container {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  background-color: var(--bg-about);
}

.About .divider-top {
  width: 200%;
  height: 116px;
  z-index: 0;
  background-color: var(--bg-about);
  border-top: solid 4px var(--border-top);
  transform: rotate(-3deg) translateX(-20px);
}

.About .divider-bottom {
  width: 200%;
  height: 116px;
  z-index: 0;
  background-color: var(--bg-about);
  border-bottom: solid 4px var(--border-bottom);
  transform: rotate(3deg) translateX(-20px);
}

.About .text-container {
  max-width: 800px;
  margin: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  text-align: justify;
}

.About .text-container p {
  margin: 0;
  padding: 0;
  color: var(--font-content);
  font-size: calc(14px + 0.3vw);
  font-weight: 300;
}

.About .title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: var(--font-title);
  font-family: var(--title-font);
  font-weight: var(--title-weight);
}

.image {
  width: calc(250px + 3vw);
  margin: 30px;
  z-index: 2;
  transition: 250ms ease-in-out;
  transform: translateX(-30px);
  cursor: pointer;
  user-select: none;
}

.image:hover {
  transform: translateX(-40px) rotate(5deg);
}

.btn-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
