.About {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--background-light);
  user-select: none;
  overflow: hidden;
}

.About.darkmode {
  background: var(--background-dark);
}

.About .about-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  background-color: var(--color-two);
}

.About .divider-top {
  width: 200%;
  height: 120px;
  background-color: var(--color-two);
  transform: rotate(-3deg) translateX(-20px);
  z-index: 1;
}

.About.darkmode .divider-top {
  height: 118px;
  border-top: solid 2px var(--background-light);
}

.About .divider-bottom {
  width: 200%;
  height: 120px;
  background-color: var(--color-two);
  transform: rotate(3deg) translateX(-20px);
  z-index: 1;
}

.About.darkmode .divider-bottom {
  height: 118px;
  border-bottom: solid 2px var(--background-light);
}

.About .text-container {
  text-align: justify;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin: 30px;
  z-index: 2;
}

.About .text-container p {
  margin: 0;
  padding: 0;
  color: var(--font-light);
  font-size: calc(14px + 0.3vw);
  font-weight: 300;
}

.About .title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 400;
  color: #eee;
}

.image {
  width: calc(250px + 3vw);
  margin: 30px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  transform: translateX(-30px);
  z-index: 2;
}

.image:hover {
  transform: translateX(-40px) rotate(5deg);
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
