@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

button {
  /* Variables */
  --button_radius: 15px;
  --btn-color: var(--bg-light);
  --btn-border: var(--font-dark);
  --btn-font: var(--font-dark);

  max-width: 300px;
  padding: 0;
  border: none;
  border-radius: var(--button_radius);
  background: var(--btn-border);
  font-family: 'Poppins', sans-serif;
  font-size: calc(15px + 0.2vw);
  font-weight: 600;
  cursor: pointer;
}

button.darkmode {
  --btn-color: var(--bg-light);
  --btn-border: var(--font-dark);
  --btn-font: var(--font-dark);
}

.button_top {
  padding: 0.8em 1.6em;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--btn-border);
  border-radius: var(--button_radius);
  background: var(--btn-color);
  color: var(--btn-font);
  user-select: none;
  transform: translateY(-0.5em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
 transform: translateY(-0.33em);
}

button:active .button_top {
 transform: translateY(0);
}