@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

button {
  /* Variables */
  font-family: 'Poppins', sans-serif;
  --button_radius: 0.75em;
  padding: 0;
  font-size: calc(15px + 0.2vw);
  font-weight: 600;
  border: none;
  border-radius: var(--button_radius);
  background: var(--font-dark);
  cursor: pointer;
  max-width: 250px;
}

button.darkmode {
  background: var(--font-dark);
}

.button_top {
  user-select: none;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--background-dark);
  border-radius: var(--button_radius);
  padding: 0.8em 1.6em;
  background: var(--background-light);
  color: var(--background-dark);
  transform: translateY(-0.5em);
  transition: transform 0.1s ease;
}

button.darkmode .button_top{
  border-color: var(--font-dark);
  background: var(--color-one);
  color: var(--font-dark);
}

button:hover .button_top {
 transform: translateY(-0.33em);
}

button:active .button_top {
 transform: translateY(0);
}