@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

button {
  /* Variables */
  font-family: 'Poppins', sans-serif;
 --button_radius: 0.75em;
 --button_color: #f0f0f0;
 --button_outline_color: #000000;
 padding: 0;
 font-size: calc(10px + 0.6vw);
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
 cursor: pointer;
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.8em 1.6em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.5em);
 transition: transform 0.1s ease;
}

button:hover .button_top {
 transform: translateY(-0.33em);
}

button:active .button_top {
 transform: translateY(0);
}