.SocialIcon {
  user-select: none;
  cursor: pointer;
  transition: 200ms ease-in-out;
  filter: invert(100%) sepia(0%) saturate(100%);
}

.SocialIcon:hover {
  transform: scale(1.1);
}

.SocialIcon .icon {
  width: calc(15px + 0.8vw);
}
