.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Home .divider {
  aspect-ratio: 600/50;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}