.Welcome {
  align-self: stretch;
  height: 100vh;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
}

.title {
  margin: 0;
  margin-right: 10px;
  font-weight: 300;
  font-size: calc(50px + 3.2vw);
  user-select: none;
}

.name {
  font-size: calc(55px + 3.2vw);
  font-weight: 400;
  color: tomato;
  user-select: none;
} 

.desc {
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  font-size: calc(20px + 0.4vw);
  font-weight: 300;
  color: tomato;
  user-select: none;
}

.stick{
  width: 4px;
  height: calc(60px + 3vw);
  background-color: tomato;
}

.hidden {
  display: none;
}