.Welcome {
  padding-left: 20px;
  padding-right: 20px;
  align-self: stretch;
  height: 100vh;
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome.darkmode {
  background-color: var(--background-dark);
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
}

.title {
  margin: 0;
  margin-right: 20px;
  font-weight: 300;
  font-size: calc(40px + 3.4vw);
  user-select: none;
}

.Welcome.darkmode .title {
  color: var(--font-light);
}

.name {
  font-size: calc(45px + 3.4vw);
  font-weight: 400;
  color: var(--primary-color);
  user-select: none;
} 

.desc {
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  font-size: calc(15px + 0.6vw);
  font-weight: 300;
  color: var(--primary-color);
  user-select: none;
}

.stick{
  width: 4px;
  height: calc(60px + 3vw);
  background-color: var(--primary-color);
}

.hidden {
  display: none;
}