.Welcome {
  /* Variables */
  --bg-color: var(--bg-light);
  --title-color: var(--orange);
  --desc-color: var(--font-dark);

  height: 80vh;
  padding-top: 20vh;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--bg-color);
}

.Welcome.darkmode {
  --bg-color: var(--bg-dark);
  --title-color: var(--orange);
  --desc-color: var(--font-light);
}

.Welcome .welcome-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Welcome .title {
  margin: 0;
  text-align: center;
  font-weight: var(--title-weight);
  font-family: var(--title-font);
  line-height: 1.2;
  font-size: calc(60px + 2vw);
  color: var(--title-color);
}

.Welcome .desc {
  margin: 0;
  text-align: left;
  font-size: calc(12px + 0.8vw);
  font-weight: 300;
  line-height: 4;
  color: var(--desc-color);
}

.Welcome .stick {
  width: 8px;
  height: calc(60px + 3vw);
  background-color: var(--title-color);
}

.Welcome .social-container {
  padding-top: 15px;
  display: flex;
  gap: 10px;
}
