.Welcome {
  align-self: stretch;
  padding-top: 35vh;
  padding-bottom: 10vh;
  height: 55vh;
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Welcome.darkmode {
  background-color: var(--background-dark);
}

.text-container {
  display: flex;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.title {
  margin: 0;
  margin-right: 15px;
  font-weight: 300;
  font-size: calc(35px + 4vw);
  user-select: none;
}

.Welcome.darkmode .title {
  color: var(--font-light);
}

.name {
  font-size: calc(40px + 4vw);
  font-weight: 400;
  color: var(--primary-color);
  user-select: none;
} 

.desc {
  text-align: center;
  margin: 0;
  font-size: calc(12px + 0.8vw);
  font-weight: 300;
  color: var(--primary-color);
  user-select: none;
}

.stick{
  width: 4px;
  height: calc(60px + 3vw);
  background-color: var(--primary-color);
}

.hidden {
  display: none;
}

.social-container {
  padding-top: 15px;
  display: flex;
  gap: 10px;
}