.Card {
  --b-rad: 0.75em;
  width: 350px;
  height: 400px;
  border-radius: var(--b-rad);
  background: var(--font-dark);
  cursor: pointer;
  transform: translateX(0.3em);
}

.card-top {
  user-select: none;
  transition: transform 0.1s ease;
  transform: translateY(-0.6em) translateX(-0.6em);
}

.Card:hover .card-top {
  transform: translateY(-0.3em) translateX(-0.3em);
}

.Card .title-container {
  height: 80px;
  border: solid 2px var(--font-dark);
  border-radius: var(--b-rad) var(--b-rad) 0 0;
  background-color: var(--color-one-dark);
  color: var(--font-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Card .card-title {
  font-size: 24px;
  font-weight: 400;
}

.skills-container {
  border: solid 2px #111;
  border-top: none;
  border-radius: 0 0 var(--b-rad) var(--b-rad);
  background: var(--background-light);  
  padding: 30px 10px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Card.darkmode .skills-container {
  background: var(--background-dark);
  color: var(--font-light);
}