.parallax {
  width: 100%;
  height: calc(80px + 3vw);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: var(--bg-light);
  border-top: solid var(--page-border) var(--font-dark);
  border-bottom: solid var(--page-border) var(--font-dark);
}

.parallax .scroller {
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  gap: calc(20px + 3vw);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.parallax .item {
  padding: 0;
  margin: 0;
  font-family: 'Manbow Solid';
  font-size: calc(30px + 4vw);
  font-weight: var(--title-weight);
  color: var(--font-dark);
}

.parallax .item.clear {
  font-family: 'Manbow Clear';
}