:root{
  --nav-color:#000;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  padding-left: 40px;
  padding-right: 80px;
  background-color: transparent;
  transition: 200ms ease-in;
}

.Navbar.scroll {
  height: 40px;
  background-color: var(--nav-color);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: calc(15px + 2vw);
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
}

.nav-menu.mobile {
  background-color: var(--nav-color);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  height: 100vh;
  position: absolute;
  top:104px;
  left:-100%;
  transition: all 0.5s ease;
}

.nav-menu.mobile.open {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--nav-color);
  left: 0;
  transition:  all 0.5s ease;
}

.nav-item { 
  transition: 200ms ease-in-out;
  user-select: none;
}

.nav-item:hover{
  transform: scale(1.1);
}

.nav-link {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #111;
  cursor: pointer;
}

.nav-link.scroll {
  color: #eee;
}

.nav-icons {
  user-select: none;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.switch-text {
  user-select: none;
  font-size: 20px;
  font-weight: 600;
}

.switch-text.scroll {
  color: #eee;
}

.visible {
  display: flex;
}

.hiden {
  display: none;
}