.Navbar {
  height: 30px;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 10;
  position: fixed;
  top: 20px;
  left: 30px;
  right: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px var(--font-dark);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-light);
  border: solid 4px var(--font-dark);
}

.nav-menu {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: calc(40px + 2vw);
  list-style: none;
}

.nav-menu.mobile {
  width: 300px;
  height: 340px;
  padding: 0;
  margin: 0;
  grid-gap: calc(20px + 2vw);
  padding-top: 50px;
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 120px;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-light);
  border: solid 4px var(--font-dark);
  border-radius: 20px;
  box-shadow: 2px 6px var(--font-dark);
  transition: all 300ms ease-in-out;
}

.nav-menu.mobile .nav-link {
  color: var(--font-dark);
}

.nav-menu.mobile.open {
  left: 0;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.nav-item {
  transition: 200ms ease-in-out;
  user-select: none;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-link {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: var(--font-dark);
  cursor: pointer;
}

.nav-icons {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.nav-switch {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.Navbar.mobile .nav-switch {
  margin: 0;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.Navbar .nav-name {
  user-select: none;
  font-size: 35px;
  letter-spacing: -1px;
  font-family: 'Roboto Flex';
  font-variation-settings: var(--font-variant-normal);
}

.Navbar .nav-name span {
  user-select: none;
  font-size: 36px;
  color: #4f0694;
  text-shadow: 
    -3px 3px #9e33c9,
    -6px 6px #da6fe6;
  font-family: 'Roboto Flex';
  font-variation-settings: var(--font-variant-bold);
}