.Navbar {
  /* Varibles */
  --nav-color: var(--bg-light);
  --nav-mobile-color: var(--font-dark);
  --nav-font: var(--font-dark);
  --nav-mobile-font: var(--font-light);
  --nav-border: var(--font-dark);

  height: 30px;
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: fixed;
  top: 20px;
  left: 30px;
  right: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px var(--font-dark);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-color);
  border: solid 4px var(--nav-border);
}

.Navbar.mobile {
  padding-left: 40px;
  padding-right: 40px;
}

.nav-menu {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: calc(25px + 2vw);
  list-style: none;
}

.nav-menu.mobile {
  width: 220px;
  height: 90vh;
  padding: 0;
  margin: 0;
  padding-top: 10vh;
  position: absolute;
  bottom: -100vh;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--nav-mobile-color);
  transition: all 300ms ease-in-out;
}

.nav-menu.mobile .nav-link {
  color: var(--nav-mobile-font);
}

.nav-menu.mobile.open {
  left: 0;
  transition: all 300ms ease-in-out;
}

.nav-item {
  transition: 200ms ease-in-out;
  user-select: none;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-link {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: var(--nav-font);
  cursor: pointer;
}

.nav-icons {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.nav-switch {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.Navbar.mobile .nav-switch {
  margin: 0;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
