.Projects {
  align-self: stretch;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--gold);
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.content {
  max-width: 800px;
}

.Projects h1 {
  margin: 0;
  font-size: 60px;
  font-family: var(--title-font);
  font-weight: var(--title-weight);
}

.Projects p {
  font-size: 20px;
  font-weight: 400;
}