/* .Scroller {
  position: absolute;
  left: 150px;
  bottom: 220px;
} */

.Scroller .spinner {
  transform-origin: 0px 90px;
  animation: rotate 5s linear infinite;
}

.Scroller span {
  position: absolute;
  transform-origin: 0 90px;
  font-weight: 800;
  font-size: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bouce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.Scroller .arrow {
  animation: bouce 0.8s both infinite;
}

.Scroller .arrow .arrow-one {
  position: absolute;
  top: 50px;
  left: -5px;
  width: 10px;
  height: 80px;
  background-color: var(--font-dark);
}

.Scroller .arrow .arrow-two {
  position: absolute;
  top: 80px;
  left: -22px;
  width: 10px;
  height: 60px;
  transform: rotate(-45deg);
  background-color: var(--font-dark);
}

.Scroller .arrow .arrow-three {
  position: absolute;
  top: 80px;
  left: 13px;
  width: 10px;
  height: 60px;
  transform: rotate(45deg);
  background-color: var(--font-dark);
}