.Card {
  /* Variables */
  --b-rad: 8px;
  --card-w: 270px;
  --card-h: 340px;
  --icon-bg: var(--gold);
  --icon-color: var(--font-dark);
  --card-border: var(--font-dark);
  --card-title: var(--font-dark);

  position: relative;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.card-back {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: var(--b-rad);
  border: solid 3px var(--font-dark);
  background-color: var(--blue);
  box-shadow: -6px 6px var(--pink);
}

.card-top {
  width: var(--card-w);
  height: var(--card-h);
  z-index: 1;
  border-radius: var(--b-rad);
  background-color: var(--font-light);
  border: solid 3px var(--font-dark);
  z-index: 4;
}

.card-icon-container {
  width: 70px;
  height: 70px;
  position: relative;
  top: -35px;
  left: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-bg);
  border: solid 3px var(--icon-color);
  border-radius: 50%;
  box-shadow: 1px 4px 0 0 var(--card-border);
}

.card-icon {
  width: 40px;
  height: 40px;
}

.card-content {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: -30px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content .card-title {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 2px;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Roboto Flex';
  color: var(--card-title);
  border-bottom: solid 2px var(--card-border);
}

.card-content .card-desc {
  margin: 0;
  min-height: 150px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  gap: 12px;
}

.footer-image-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-lihght);
  border: solid 2px var(--font-dark);
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 var(--blue);
}

.footer-icon {
  width: 30px;
}
