.Skills {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-light);
  padding-top: 50px;
  padding-bottom: 200px;
  user-select: none;
}

.Skills.darkmode {
  background: var(--background-dark);
}

.Skills .skills-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 50px;
}

.Skills .title {
  margin: 0;
  padding: 0;
  color: var(--font-dark);
  font-size: calc(45px + 0.8vw);  
  font-weight: 600;
  text-align: start;
  
/*   font-family: "Misto"; */
}

.Skills.darkmode .title {
  color: var(--font-light);  
}

.Skills .desc {
  margin: 0;
  font-weight: 300;
  font-size: calc(15px + 0.5vw);
  padding-bottom: 20px;
  color: var(--color-one);
}

.cards-container {
  margin: auto;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}