.Skills {
  /* Variables */
  --bg-skills: var(--bg-light);
  --font-title: var(--font-dark);
  --font-desc: var(--orange);

  padding-top: 50px;
  padding-bottom: 150px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-skills);
}

.Skills.darkmode {
  /* Darkmode Variables */
  --bg-skills: var(--bg-dark);
  --font-title: var(--font-light);
  --font-desc: var(--orange);
}

.Skills .skills-container {
  width: 70%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.Skills .title {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  align-self: flex-start;
  text-align: start;
  color: var(--font-title);
  font-size: calc(30px + 1.5vw);
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-variation-settings: var(--font-variant-bold);
}

.cards-container {
  display: grid;
  column-gap: 60px;
  row-gap: 60px;
  grid-auto-columns: 1fr;
  grid-template-areas: 'one two three four';
}

.cards-container:nth-child(1) {
  grid-area: one;
}

.cards-container:nth-child(2) {
  grid-area: two;
}

.cards-container:nth-child(3) {
  grid-area: three;
}

.cards-container:nth-child(4) {
  grid-area: four;
}

.card-pair {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 1457px) {
  .cards-container {
    grid-template-areas: 'one two' 'three four';
  }
}

@media (max-width: 700px) {
  .cards-container {
    grid-template-areas: 'one' 'two' 'three' 'four';
  }
}
