@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Manbow Solid';
  src: url('./assets/fonts/manbow-solid.ttf');
}

@font-face {
  font-family: 'Manbow Clear';
  src: url('./assets/fonts/manbow-clear.ttf');
}

@font-face {
  font-family: 'Monument';
  src: url('./assets/fonts/monument-extended.otf');
}

@font-face {
  font-family: 'Monument Bold';
  src: url('./assets/fonts/monument-extended-bold.otf');
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('./assets/fonts/RobotoFlex.ttf');
}

:root {
  --orange: #f5724f;
  --blue: #375bff;
  --blue: #a49df8;
  --gold: #fabf53;
  --pink: #f096e8;
  --bg-light: #f8f8f8;
  --bg-dark: #101010;
  --font-light: #f8f8f8;
  --font-dark: #101010;

  --title-font: 'Monument';
  --title-font: 'Manbow Solid';
  --title-font: 'Roboto Flex';
  --title-weight: 600;
  --page-border: 4px;
  --font-variant-normal:
    'wght' 400, 
    'wdth' 120, 
    'slnt' 0, 
    'YTAS' 777, 
    'XTRA' 700, 
    'YTDE' -200, 
    'GRAD' 150, 
    'YTLC' 570,
    'YOPQ' 150, 
    'YTUC' 760;

  --font-variant-bold:  
    'wght' 700, 
    'wdth' 120, 
    'slnt' 0, 
    'YTAS' 777, 
    'XTRA' 700, 
    'YTDE' -200, 
    'GRAD' 100, 
    'YTLC' 570,
    'YOPQ' 150, 
    'YTUC' 760;

  --font-variant-extra-bold:  
    'wght' 900, 
    'wdth' 120, 
    'slnt' 0, 
    'YTAS' 777, 
    'XTRA' 700, 
    'YTDE' -200, 
    'GRAD' 100, 
    'YTLC' 570,
    'YOPQ' 150, 
    'YTUC' 760;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border: solid var(--page-border) var(--font-dark);
  background-color: var(--bg-light);
  font-variation-settings: var(--font-variant-normal);
}
