/* The switch - the box around the slider */
.switch {
  /* Variables */
  --switch_width: 2em;
  --switch_height: 1em;
  --thumb_color: var(--font-light);
  --track_color: transparent;
  --track_active_color: transparent;
  --outline_color: var(--font-dark);

  width: var(--switch_width);
  height: var(--switch_height);
  position: relative;
  display: inline-block;
  font-size: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  background-color: var(--track_color);
  border-radius: var(--switch_height);
  transition: 0.15s;
  cursor: pointer;
}

.slider:before {
  content: '';
  height: var(--switch_height);
  width: var(--switch_height);
  position: absolute;
  left: -2px;
  bottom: -2px;
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  background-color: var(--thumb_color);
  border-radius: 100%;
  box-shadow: 0 0.2em 0 var(--outline_color);
  transform: translateY(-0.2em);
  transition: 0.15s;
}

input:checked + .slider {
  background-color: var(--track_active_color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

.icon-container {
  position: relative;
  transform: translateX(-4px) translateY(-10px);
  transition: 0.15s;
  user-select: none;
}

.switch .icon {
  width: 30px;
}

.switch:hover .icon-container {
  transform: translateX(-4px) translateY(-12px);
}

input:checked + .slider .icon-container {
  transform: translateX(22px) translateY(-10px);
}

input:hover:checked + .slider .icon-container {
  transform: translateX(22px) translateY(-12px);
}
